<!doctype html>

<head>
	<title>Flask Tutorial!</title>

	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Hello!</h1>
	<p>
		Hola:
		<cb>{{ Mundo }}</cb>!
		<!--Gets the random number from the python file-->
	</p>
	<a href="site_2.html" style="color: blue; -webkit-appearance: button; -moz-appearance: button; appearance: button;">Visit site 2</a>
</body>