<!doctype html>
<head>
	<title>Flask Tutorial!</title>
	<link rel="shortcut icon" href="#">
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>Hello!</h1>
	<p>
		Hola:
		<cb>{{ Compañeros }}</cb>! <!--Gets the random number from the python file-->
	</p>

	<a href="base.html" style="color: blue; -webkit-appearance: button; -moz-appearance: button; appearance: button;">Go back</a>
</body>